* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(30, 56, 0, 7);
  color: rgb(240, 245, 245);
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 16px;
}
h1 {
  padding-bottom: 30px;
  color: aqua;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
}
.deleteTask {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.doneTask {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
